{namespace h=Tx_Hype_ViewHelpers}

<f:layout name="viewhelper" />

<f:section name="content">
	<h:google.api />
	
	<h:google.visualization.piechart data="test" width="400" height="400" />
	
	<f:if condition="{h:file.exists(path: 'uploads/hype/showcase/clients/cat.jpg')}">
		<h2>cat.jpg</h2>
		<p>Size: {h:file.size(path: 'uploads/hype/showcase/clients/cat.jpg')}</p>
		<dl>
			<dt>Contents:</dt>
			<dd><f:image src="uploads/hype/showcase/clients/cat.jpg" alt="" /></dd>
		</dl>
	</f:if>
</f:section>